
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.logo {
    width: 11%;
}
.navbar {
    background-color: #000e1b;

}
.navLink{
    color:#fff;
    font-weight:bold;
    padding-top:10px;

}
.menuLink{
    color:#fff;
    font-weight:bold;
    padding-top:10px;
    margin-left:12px;

}

.nav ul{
    color:#fff;
    font-weight:bold;
    padding-top:10px;

}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  width:170px;
  color:#012240;
  margin-top:-2px;
  font-weight:bold;
  font-size:15px;
}
@media (min-width: 568px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    color:#fff;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #3c3c3c;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  padding-top: 51%;
  margin-right: -21px; 
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
    color:#a3a3a3;
  padding-right: 20px;
  padding-left: 20px;
}
.nav>li {
    position: relative;
    display: block;
    padding-bottom: 9px;
    border-bottom: 1px solid;
}
.menuLink a{
     color:#a3a3a3;
  padding-right: 20px;
  padding-left: 20px;
    
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #ff0000;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.welcome img{
	
    width:260px;
	height:260px;
    margin-left:420px;

}

.welcome h1{
    font-family:Autumn;
    font-size:110px;
    text-align:center;
    margin: 0 auto;
    color:#225e98;
    margin-left: auto;
    margin-right: auto;
   
}

.welcome p{
    font-size:40px;
    font-weight:bold;
    text-align:center;
    color:black;
   
}
